#!/bin/bash

# Remove every directory that is older than
# {{gitlab_runner_clear_cache_threshold}} days, which exists inside the
# list directories returned by `list-gitlab-runner-directories`.
set -e
for dir in $({{ list_gitlab_runner_directories.dest }})
do
    DELETED=`find $dir -mindepth 1 -maxdepth 1 -type d \
             -mtime +{{gitlab_runner_clear_cache_threshold}} -print \
             -exec rm -r {} \;`
    if [ -n "$DELETED" ]
    then
        logger --id=$$ --tag `basename $0` Deleted $DELETED
    fi
done
